<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="ModelQueryBuilderSettings" type="ModelQueryBuilder.Configurations.ModelQueryBuilderSettings, ModelQueryBuilder"/>
	</configSections>

	<ModelQueryBuilderSettings>
		<ConnectionSettings type="MySql" connection="Server=localhost;Database=sqlkata_example;Uid=root;Pwd=;" />
	</ModelQueryBuilderSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!--<connectionStrings>
		<add name="MysqlCon" connectionString="Server=localhost;Database=sqlkata_example;Uid=root;Pwd=;" />
	</connectionStrings>-->
</configuration>